.mini-input {
  --mini-input-text-color: var(--mini-text-color-regular);
  --mini-input-border: var(--mini-border);
  --mini-input-hover-border: var(--mini-border-color-hover);
  --mini-input-focus-border: var(--mini-color-primary);
  --mini-input-transparent-border: 0 0 0 1px transparent inset;
  --mini-input-border-color: var(--mini-border-color);
  --mini-input-border-radius: var(--mini-border-radius-base);
  --mini-input-bg-color: var(--mini-fill-color-blank);
  --mini-input-icon-color: var(--mini-text-color-placeholder);
  --mini-input-placeholder-color: var(--mini-text-color-placeholder);
  --mini-input-hover-border-color: var(--mini-border-color-hover);
  --mini-input-clear-hover-color: var(--mini-text-color-secondary);
  --mini-input-focus-border-color: var(--mini-color-primary);
}

.mini-input {
  --mini-input-height: var(--mini-component-size);
  position: relative;
  font-size: var(--mini-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--mini-input-height);
  box-sizing: border-box;
  vertical-align: middle;
  &.is-disabled {
    cursor: not-allowed;
    .mini-input__wrapper {
      background-color: var(--mini-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--mini-disabled-border-color) inset;
    }
    .mini-input__inner {
      color: var(--mini-disabled-text-color);
      -webkit-text-fill-color: var(--mini-disabled-text-color);
      cursor: not-allowed;
    }
    .mini-textarea__inner {
      background-color: var(--mini-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--mini-disabled-border-color) inset;
      color: var(--mini-disabled-text-color);
      -webkit-text-fill-color: var(--mini-disabled-text-color);
      cursor: not-allowed;
    }
  }
  &.is-prepend {
    >.mini-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.is-append {
    >.mini-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.mini-input--large {
  --mini-input-height: var(--mini-component-size-large);
  font-size: 14px;
  .mini-input__wrapper {
    padding: 1px 15px;
    .mini-input__inner {
      --mini-input-inner-height: calc(var(--mini-input-height, 40px) - 2px);
    }
  }

}
.mini-input--small {
  --mini-input-height: var(--mini-component-size-small);
  font-size: 12px;
  .mini-input__wrapper {
    padding: 1px 7px;
    .mini-input__inner {
      --mini-input-inner-height: calc(var(--mini-input-height, 24px) - 2px);
    } 
  }
}
.mini-input__prefix, .mini-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--mini-input-icon-color, var(--mini-text-color-placeholder));
  transition: all var(--mini-transition-duration);
}
.mini-input__prefix {
  >:first-child {
    margin-left: 0px !important;
  }
  >:last-child {
    margin-right: 8px !important;
  }
}
.mini-input__suffix {
  >:first-child {
    margin-left: 8px !important;
  }
  >:last-child {
    margin-right: 0px !important;
  }
}
.mini-input__prepend, .mini-input__append {
  background-color: var(--mini-fill-color-light);
  color: var(--mini-color-info);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-radius: var(--mini-input-border-radius);
  padding: 0 20px;
  white-space: nowrap;
}
.mini-input__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px 0 0 0 var(--mini-input-border-color) inset,0 1px 0 0 var(--mini-input-border-color) inset,0 -1px 0 0 var(--mini-input-border-color) inset;

}
.mini-input__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 0 var(--mini-input-border-color) inset,0 -1px 0 0 var(--mini-input-border-color) inset,-1px 0 0 0 var(--mini-input-border-color) inset;
  & >.mini-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.mini-input--textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: var(--mini-font-size-base);
}
.mini-textarea__wrapper {
  position: relative;
  display: block;
  resize: vertical;
  padding: 5px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--mini-input-text-color, var(--mini-text-color-regular));
  background-color: var(--mini-input-bg-color, var(--mini-fill-color-blank));
  background-image: none;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px var(--mini-input-border-color, var(--mini-border-color)) inset;
  border-radius: var(--mini-input-border-radius, var(--mini-border-radius-base));
  transition: var(--mini-transition-box-shadow);
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--mini-input-focus-border-color) inset;
  }
  &::placeholder {
    color: var(--mini-input-placeholder-color);
  }
}
.mini-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--mini-input-bg-color, var(--mini-fill-color-blank));
  background-image: none;
  border-radius: var(--mini-input-border-radius, var(--mini-border-radius-base));
  transition: var(--mini-transition-box-shadow);
  box-shadow: 0 0 0 1px var(--mini-input-border-color, var(--mini-border-color)) inset;
  &:hover {
    box-shadow: 0 0 0 1px var(--mini-input-hover-border-color) inset;
  }
  &.is-focus {
    box-shadow: 0 0 0 1px var(--mini-input-focus-border-color) inset;
  }
  .mini-input__inner {
    --mini-input-inner-height: calc(var(--mini-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--mini-input-text-color, var(--mini-text-color-regular));
    font-size: inherit;
    height: var(--mini-input-inner-height);
    line-height: var(--mini-input-inner-height);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    &::placeholder {
      color: var(--mini-input-placeholder-color);
    }
  }  
  .mini-icon {
    height: inherit;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--mini-transition-duration);
    margin-left: 8px;
  }
  .mini-input__clear, .mini-input__password {
    color: var(--mini-input-icon-color);
    font-size: 14px;
    cursor: pointer;
    &:hover {
     color: var(--mini-input-clear-hover-color);
    }
  }
}

