body {
  font-family: var(--mini-font-family);
  font-weight: var(--mini-font-weight-primary);
  font-size: var(--mini-font-size-base);
  color: var(--mini-text-color-primary);
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: var(--mini-color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--mini-color-primary-light-3);
  }

  &:active {
    color: var(--mini-color-primary-dark-2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mini-text-color-regular);
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: calc(var(--mini-font-size-base) + 12px);
}

h2 {
  font-size: calc(var(--mini-font-size-base) + 8px);
}

h3 {
  font-size: calc(var(--mini-font-size-base) + 4px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  font-size: calc(var(--mini-font-size-base) - 1px);
}

small {
  font-size: calc(var(--mini-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--mini-border-color-lighter);
}
