.mini-collapse {
  --mini-collapse-border-color: var(--mini-border-color-light);
  --mini-collapse-header-height: 48px;
  --mini-collapse-header-bg-color: var(--mini-fill-color-blank);
  --mini-collapse-header-text-color: var(--mini-text-color-primary);
  --mini-collapse-header-font-size: 13px;
  --mini-collapse-content-bg-color: var(--mini-fill-color-blank);
  --mini-collapse-content-font-size: 13px;
  --mini-collapse-content-text-color: var(--mini-text-color-primary);
  --mini-collapse-content-height: 1.7692307692;
  --mini-collapse-disabled-text-color: var(--mini-disabled-text-color);
  --mini-collapse-disabled-border-color: var(--mini-border-color-lighter);
  border-top: 1px solid var(--mini-collapse-border-color);
  border-bottom: 1px solid var(--mini-collapse-border-color);
}

.mini-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mini-collapse-header-height);
  line-height: var(--mini-collapse-header-height);
  background-color: var(--mini-collapse-header-bg-color);
  color: var(--mini-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--mini-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--mini-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--mini-collapse-border-color);

  &.is-disabled {
    color: var(--mini-collapse-disabled-text-color);
    cursor: not-allowed;
    background-color: #f1f1f1;
  }

  &.is-active {
    border-bottom-color: transparent;
    .header-angle {
      transform: rotate(90deg);
    }
  }

  .header-angle {
    transition: transform var(--mini-transition-duration);
    color: var(--mini-text-color-regular);
  }
}

.mini-collapse-item__content {
  will-change: height;
  background-color: var(--mini-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--mini-collapse-content-font-size);
  color: var(--mini-collapse-content-text-color);
  border-bottom: 1px solid var(--mini-collapse-border-color);
  line-height: var(--mini-collapse-content-height);
  padding-bottom: 25px;
}

.slide-enter-active,
.slide-leave-active {
  transition: height var(--mini-transition-duration);
}
