.mini-message {
  --mini-message-bg-color: var(--mini-color-info-light-9);
  --mini-message-border-color: var(--mini-border-color-lighter);
  --mini-message-padding: 15px 19px;
  --mini-message-close-size: 16px;
  --mini-message-close-icon-color: var(--mini-text-color-placeholder);
  --mini-message-close-hover-color: var(--mini-text-color-secondary);
}
.mini-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--mini-border-radius-base);
  border-width: var(--mini-border-width);
  border-style: var(--mini-border-style);
  border-color: var(--mini-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--mini-message-bg-color);
  padding: var(--mini-message-padding);
  display: flex;
  align-items: center;
  transition: top var(--mini-transition-duration), opacity var(--mini-transition-duration), transform var(--mini-transition-duration);
  .mini-message__content {
    color: var(--mini-message-text-color);
    overflow-wrap: anywhere;
  }
  &.is-close .mini-message__content {
    padding-right: 30px;
  }
  .mini-message__close-btn {
    display: flex;
    align-items: center;
  }
  .mini-message__close-btn svg {
    cursor: pointer;
  }
}
@each $val in info,success,warning,danger { 
  .mini-message--$(val) {
    --mini-message-bg-color: var(--mini-color-$(val)-light-9);
    --mini-message-border-color: var(--mini-color-$(val)-light-8);
    --mini-message-text-color: var(--mini-color-$(val));
    .mini-message__close-btn {
      --mini-icon-color: var(--mini-color-$(val));
    }
  }
}
.mini-message.fade-up-enter-from,
.mini-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
